@model IEnumerable<RestaurantReviews.Domain.Review>

@{
    ViewData["Title"] = "Show Reviews";

}

<h1>Show Customer's'Reviews</h1>

<table class="table">
    <caption>Users Reviews</caption>
    <thead>
        <tr>
            @if (ViewData["ShowIds"] != null)
            {
                <th id="ID">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th id="CustomerID">
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th id="RestaurantID">
                    @Html.DisplayNameFor(model => model.RestaurantId)
                </th>
            }
            <th id="Stars">
                @Html.DisplayNameFor(model => model.Stars)

            </th>
            <th id="Review">
                @Html.DisplayNameFor(model => model.textReview)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewData["ShowIds"] != null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                    <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="star.jpg" width="20" height="20">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.textReview)
                </td>
                <td>
                    @if ((int)TempData["CurrentUserId"] == (int)TempData["customerId"])
                    {
                        @Html.ActionLink("Edit", "EditReview", "Restaurant", new { id = item.Id })<span> | </span>
                    }
                    @if ((int)TempData["CurrentUserId"] == (int)TempData["customerId"] || TempData["IsAdmin"] != null)
                    {
                        @Html.ActionLink("Delete", "DeleteReview", "Restaurant", new { id = item.Id })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    @Html.ActionLink("Back", (string)TempData["returnView"], TempData["customerId"])
</div>