@model RestaurantReviews.Domain.Customer

@{
    ViewData["Title"] = "deleteUser";
}

<h1>deleteUser</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pass)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Admin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Admin)
        </dd>
    </dl>
</div>
@using (Html.BeginForm())
{
    <input label="Id of User" type="text" name="toDeleteId" />
    <input label="Password" type="text" name="password" />
    <input label="Delete"type="submit" />
}
<form asp-action="deleteUser">
    <a asp-action="Search">Back to List</a>
</form>
