@model IEnumerable<RestaurantReviews.Domain.Review>

@{
    ViewData["Title"] = "ShowReviews";
}

<h1>ShowReviews</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textReview)
            </td>
            <td>
                @if ((int)TempData["CurrentUserId"] == (int)TempData["customerId"])
                {
                    @Html.ActionLink("Edit", "EditReview", "Restaurant", new {  id=item.Id })<span> | </span>
                }
                @if ((int)TempData["CurrentUserId"] == (int)TempData["customerId"] || TempData["IsAdmin"] != null)
                {
                @Html.ActionLink("Delete", "DeleteReview","Restaurant",  new {  id=item.Id  })
                }

            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.ActionLink("Back", (string)TempData["returnView"], TempData["customerId"])
</div>