@model IEnumerable<RestaurantReviews.Domain.Restaurant>


@{
    ViewData["Title"] = "View";
}

<h1>Restaurants</h1>

<p>
    <a asp-action="CreateRestaurant">Add Restaurant</a>
</p>
<form asp-controller="Restaurant" asp-action="Search">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.Zip)
                </td>

                <td>
                    @Html.ActionLink("Reviews", "Reviews", new { Id = item.Id })
                    
                    @if (TempData["IsAdmin"] != null)
                    {
                        <span>| </span>@Html.ActionLink("Delete", "DeleteRestaurant", item)
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
