@model IEnumerable<RestaurantReviews.Domain.Review>


@{
    ViewData["Title"] = "Reviews";
    
}

<h1>Reviews For @ViewData["Restaurant"]                 @ViewData["Rating"] <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="star.jpg" width="50" height="50">  </h1>
<p>@ViewData["Address"]</p>

<p>
    <a asp-action="LeaveReview">Leave Review</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.textReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
                <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="star.jpg" width="20" height="20">
            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.textReview)
            </td>
            <td>
                @Html.ActionLink("Details ", "ReviewDetails", item)
                @if (TempData["CurrentUserId"] != null)
                {
                    @if (item.CustomerId == (int)TempData["CurrentUserId"])
                    {
                        <span>| </span>@Html.ActionLink("Edit ", "EditReview", item)
                    }

                    @if (item.CustomerId == (int)TempData["CurrentUserId"] || TempData["IsAdmin"] != null)
                    {
                        <span>| </span>@Html.ActionLink("Delete", "DeleteReview", item)
                    }
                }
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Search">Back to Restaurants</a>
</div>


