@model IEnumerable<RestaurantReviews.Domain.Restaurant>

@{
    ViewData["Title"] = "Search Restaurants";
}

<h1>Search Restaurants</h1>

<p>
    <a asp-action="CreateRestaurant">Add Restaurant</a>
</p>
<form asp-controller="Restaurant" asp-action="Search">
    <p>
        Title: <input type="text" name="SearchString" />
        <input type="submit" value="Search!" />
    </p>
    <p>Showing @Model.Count() matching result(s) </p>
</form>
<table class="table">
    <caption>Matching Restaurants</caption>
    <thead>
        <tr>
            <th id="Name">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th id="Address">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th id="AVG">
                @Html.DisplayNameFor(model => model.avgStars)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address), @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @if (item.avgStars != -1)
                {
                    @Html.DisplayFor(modelItem => item.avgStars)
                }
                else
                {
                    <text>-</text>
                }
                <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="star.jpg" width="20" height="20">
            </td>
            <td>
                @Html.ActionLink("Reviews", "Reviews", new { restaurantId = item.Id } ) 
                @if (TempData["IsAdmin"] != null)
                {
                    @Html.ActionLink("Delete", "DeleteRestaurant", item)
                }
            </td>
        </tr>
        <tr>@for (int i = 0; i<3;i++) {
            if(i >= item.reviews.Count) { break; }
            <td><font size="2">@item.reviews[i].textReview     @item.reviews[i].Stars</font> <img src="https://www.freepnglogos.com/uploads/star-png/star-vector-png-transparent-image-pngpix-21.png" alt="star.jpg" width="12" height="12"></td>        
        }</tr>
}
    </tbody>
</table>
